# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Makefiles
Makefile
Makefile.Debug
Makefile.Release
*.pro.user

# Mac:
.DS_Store

# Ouput folders:
debug
release
