# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.exp
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled application binaries / bundles
*.exe
*.app

# Makefiles
Makefile
Makefile.Debug
Makefile.Release
*.pro.user

# Mac:
.DS_Store

# Output folders:
debug
release

# Misc
shared_app_ext.pri
Pro
