# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.1*
*.dylib
*.exp
*.dll
*.disabled

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled application binaries / bundles
*.exe
*.app

# Makefiles
Makefile
Makefile.Debug
Makefile.Release
*.pro.user

# Mac:
.DS_Store

# MSVC:
_CL_*
*.tmp
*.pdb
*.ilk

# Output folders:
debug
release

# Misc:
qcad_debug
qcadpro_debug
qcad_release
qcadpro_release

# Obsolete files:
.obsolete
