/* 
QCAD Dark Theme
Linux specific (fix checkboxes)
*/

/* QCheckBox */
QCheckBox::indicator,
QGroupBox::indicator {
    width: 13px;
    height: 13px;
}
QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    image: url(checkbox_unchecked.png);
}
QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:hover {
    image: url(checkbox_unchecked.png);
}
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:pressed {
    image: url(checkbox_unchecked.png);
}
QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    image: url(checkbox_checked.png);
}
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked:hover {
    image: url(checkbox_checked.png);
}
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:pressed {
    image: url(checkbox_checked.png);
}
QCheckBox::indicator:indeterminate:hover,
QGroupBox::indicator:indeterminate:hover {
    background-color: #2222bb;
    image: url(checkbox_indeterminate.png);
}
QCheckBox::indicator:indeterminate:pressed,
QGroupBox::indicator:indeterminate:pressed {
    background-color: #22bb22;
    image: url(checkbox_indeterminate.png);
}

/* QRadioButton */
QRadioButton::indicator {
    width: 13px;
    height: 13px;
}
QRadioButton::indicator:unchecked {
    image: url(radio_unchecked.png);
}
QRadioButton::indicator:unchecked:hover {
    image: url(radio_unchecked.png);
}
QRadioButton::indicator:unchecked:pressed {
    image: url(radio_unchecked.png);
}
QRadioButton::indicator:checked {
    image: url(radio_checked.png);
}
QRadioButton::indicator:checked:hover {
    image: url(radio_checked.png);
}
QRadioButton::indicator:checked:pressed {
    image: url(radio_checked.png);
}

