/* 
QCAD Theme
IconPostfix:inverse

-- Leave this header intact --
*/

/* Affects QTreeView, QTextEdit, QLabel, etc. if not overwritten below */
QFrame,
QDialog {
    background-color: #2D2F32;
}

QLabel, QCheckBox, QRadioButton {
    background-color: transparent;
    color: #DEDEDE;
    selection-color: #DEDEDE;
}

QStatusBar {
    background-color: #2D2F32;
}

QTextEdit,
QPlainTextEdit {
    background-color: #2D2F32;
    color: #DEDEDE;
}

QLineEdit {
    background-color: #67686A;
    color: #DEDEDE;

    /*background-origin: border;
    border: 1px solid #646464;
    selection-background-color: #4b6eaf;*/
}

QStackedWidget {
    background-color: #222222;
}

/*QComboBox > QWidget > QLineEdit {
    color: #DEDEDE;
    background-color: #696969;
}*/

/*QComboBox::drop-down {
    background: palette(base);
}*/

QComboBox QAbstractItemView {
    background-color: #696969;
    color: #DEDEDE;
}

/* Dock widgets: */
QDockWidget {
    /*background-color: transparent;*/
    background-color: #2D2F32;
    /* Affects also text in title bar when docked: */
    color: #DEDEDE;
}
QDockWidget::title {
    background: #535353;
    text-align: center;
    padding-left: 5px;
}

QTreeView {
    background-color: #1B1D20;
    color: #DEDEDE;
}
QTreeView::branch,
QAbstractItemView::item {
    background-color: #1B1B1B;
    color: #DEDEDE;
}
QTreeView::branch:selected:active,
QAbstractItemView::item:selected {
    background-color: #005DE5;
}
QHeaderView {
    color: #DEDEDE;
}
/*QTreeView::branch,
QAbstractItemView::item {
    background-color: #1B1B1B;
}
QTreeView::branch:selected:active,
QAbstractItemView::item:selected {
    background-color: #4b6eaf;
}*/

QListView {
    background-color: #1B1D20;
    color: #DEDEDE;
}

/* Group box */
QGroupBox {
    border: 1px solid #45474A;
    background-color: #343638;
    margin-top: 1.2em;
}

/* Scroll areas: */
QScrollArea {
    background: transparent;
    /*background-color: #2D2F32;*/
}
QScrollArea > QWidget > QWidget {
    background: transparent;
}
QScrollArea > QWidget > QScrollBar {
    background: palette(base);
}

QGroupBox::title {
    /* place label of group box higher: */
    subcontrol-origin: margin;
    subcontrol-position: top left;
    font-size: 80%;

    /*
    padding: 0 3px;
    background-color: #2D2F32;
    */
    color: white;
}

/*QTreeView::branch:selected:active {
    background-color: #4b6eaf;
}*/

/*QAbstractItemView::item:selected {
    background-color: #4b6eaf;
}*/

QToolBar {
    border-width: 0; /* Cancels gradiend */
    background-color: #282A2D;
}

QToolButton:checked {
  background-color: #848484;
}

QToolButton:pressed {
  background-color: #949494;
}

QToolButton:disabled {
  background-color: #323232;
}

/* Options tool bar */

/* Current tool icon in options tool bar */
QToolBar#Options QLabel#Icon {
    border-radius: 6px;
    background-color: qlineargradient(spread:pad, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #666666, stop: 0.5 #888888, stop: 1 #666666 );
    /*background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #666666, stop:1 #555555);*/
    /*border: 2px solid #555555;
    border: 1px solid #27292a;*/
    border: 1px solid #27292a;
    border-top: 1px solid #797B7E;
    border-right: 1px solid #797B7E;
    margin: 3px 3px 3px 3px;
}

/* Tool buttons in options tool bar and CAD tool bar */
QDockWidget QToolButton,
QDialog QToolButton,
QToolBar#Options QToolButton,
QToolBar#CadQToolBar QToolButton {
    border: 1px solid #27292a;
    border-top: 1px solid #797B7E;
    border-right: 1px solid #797B7E;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #505050, stop:1 #404040);
}
QDockWidget QToolButton:checked,
QDialog QToolButton:checked,
QToolBar#Options QToolButton:checked,
QToolBar#CadQToolBar QToolButton:checked {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #909090, stop:1 #808080);
}
QDockWidget QToolButton:pressed,
QDialog QToolButton:pressed,
QToolBar#Options QToolButton:pressed,
QToolBar#CadQToolBar QToolButton:pressed {
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #888888, stop:1 #777777);
}
QDockWidget QToolButton:disabled,
QDialog QToolButton:disabled,
QToolBar#Options QToolButton:disabled,
QToolBar#CadQToolBar QToolButton:disabled {
    border: 1px solid #101010;
    border-top: 1px solid #303030;
    border-right: 1px solid #303030;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #202020, stop:1 #303030);
}

QDialog QToolButton {
    padding: 4px;
}

/* Tab bar: */
QTabBar::tab {
    background-color: #1D1D1D;
    color: #DEDEDE;
    /*border-bottom: 1px solid #121212;*/
    border: 1px solid #2D2D2D;
    /*border-bottom: 1px solid #121212;*/
    padding: 4px;
}
QTabBar::tab:selected {
    background-color: #2E2E2E;
    border: 1px solid #4D4D4D;
    color: #DEDEDE;
    border-bottom: 1px solid #121212;
}

/* CAD tool bar tool buttons */
/*QToolBar#CadQToolBar QToolButton {
  border: 1px solid #27292a;
  border-top: 1px solid #797B7E;
  border-right: 1px solid #797B7E;
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #505050, stop:1 #404040);
}*/
/*QToolBar#CadQToolBar QToolButton:checked {
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #909090, stop:1 #808080);
}*/


/*QApplication,
QMainWindow, QFrame, QDockWidget, QDialog, QFileDialog, QMessageBox,
QMenuBar, QMenu, QMenu::item,
QTreeView, QListWidget, QListView, QTableWidget, QTableView,
QTextEdit, QTextBrowser, QToolBar {*/
/*QToolBar {
    background-color: #2D2F32;
    color: white;
}*/

