QWidget {
    background-color: rgb(217, 217, 217);
}

QLabel, QRadioButton, QCheckBox, QToolButton, QSlider {
    background-color: transparent;
}

QLineEdit, QTextEdit, QComboBox, QAbstractItemView, QAbstractSpinBox {
    background-color: rgb(255, 255, 255);
}
